<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <form action = "/input" method = "POST">
            <div class = "w3-container w3-amber">
                <h1> Hi <%=name%> welcome to your inconvenient journal!</h1>
            </div>
            <div class = "w3-container w3-red">
                <label for="entry">Entry</label>
                <input class = "w3-input w3-border-0"type = "text" id = "entry" name = "entry" required>
            </div>
            <section>
                <button class = "w3-button w3-ripple w3-red" type = "submit">Submit Entry</button>
            </section>
        </form>
        <form action ="/logout?_method=DELETE" method="POST">
            <button class = "w3-button w3-ripple w3-red" type = "submit">Log Out</button>
        </form>
        

    </body>
</html>